:root {
    background-color: rgb(185, 66, 66);
    font-family:'Lato', sans-serif;
}

table {
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    font-size: 1em;
    font-weight: 540;
    border-spacing: 0;
}

div {
    text-align: center;
    width: 50%;
    margin: 3em auto;
    font-size: 1rem;
    padding-top: 15em;
    box-shadow:
}

tr:first-of-type td{
    background-color: rgb(31, 31, 31);
    color: #c5c8ca;
    padding: 1.5em 0.9em 1.5em;
    font-size: 1rem;
}

td{

    padding: 0.8em 0.5em 1em;
    color: black;
    text-align: center;
    font-weight: 550;

}
.selected {
    background-color: #ff6366;
    padding: .5em;
    border-radius: 50%;
    color:white;
}